/* Subscribe Button Styles */
.subscribe-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: #0056b3;
}

header {
  margin-bottom: 20px;
}